/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --inline-size-page: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --main-font-family: 'Inter-Variable', sans-serif;
    --accent-font-family: 'PressStart2P', fantasy, sans-serif;
    --main-text-weight: 400;
    --title-text-weight: 700;
    --main-color: #000;
    --accent-color: #000;
    --bg-color: #fff;
    --button-text-color: #fff;
    --main-font-size: 18px;
    --text-stroke-color: #fff;
    --bg-image: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --counter-like-color: #000;
    --animation-fill-color: #FF0000;
}